{% extends 'dashboard.html' %}

{% block content %}
<div class="container mt-4">
    <h2>PQRS Pendientes</h2>

    {% if pqrs_pendientes %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Fecha de Creación</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for pqrs in pqrs_pendientes %}
                <tr>
                    <td class="text-center">{{ pqrs.id_pqrs }}</td>
                    <td class="text-center">{{ pqrs.descripcion }}</td>
                    <td class="text-center">{{ pqrs.fecha_creacion }}</td>
                    <td class="text-center">{{ pqrs.get_estado_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes PQRS pendientes.</p>
    {% endif %}

    
    {% if messages %}
        <div class="alert-container mt-3">
            {% for message in messages %}           
                <div class="alert alert-secondary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
