{% extends 'base.html' %}

<!-- Especificamos que el contenido valla dentro del block content de base.html  -->

{% block content %}

<main class="container py-5">
  <section class="card" card-body>
    <h1 class="display-0 text-center">HOME</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere animi
      architecto, similique dignissimos voluptates quae dolorum officia
      recusandae distinctio doloremque ipsa odit in corporis nam perspiciatis
      mollitia veritatis ratione dolore omnis aut minima pariatur cumque
      provident nemo. Voluptatum aut labore molestias nobis tempora ad
      recusandae quasi quam odio enim officiis veniam, dicta modi, dolorum
      maiores impedit iure, sit earum. Autem porro cupiditate velit illum iste
      asperiores placeat sint beatae debitis consectetur dicta, veniam, ut
      deserunt consequatur recusandae ex voluptatem! Rerum accusantium illum
      adipisci. Blanditiis maxime velit quas, commodi aspernatur ex rem eaque
      odio modi repellat officiis ab, delectus incidunt possimus voluptate
      magnam doloribus temporibus sequi! Porro labore eligendi saepe dolorem
      voluptate molestiae esse nihil deleniti, inventore veniam, libero vitae
      soluta non quos, ut iusto? Deserunt non et provident nesciunt neque
      voluptatum ipsa nam rerum? Minima architecto eligendi voluptatem molestias
      debitis error veniam maiores ea, reprehenderit tempora. Vitae velit
      molestias rem repellat consectetur est alias iusto unde ut! Sunt, et vel
      voluptatem dignissimos accusantium dolore. Reiciendis ab obcaecati
      expedita dolores nemo, tempora quisquam aliquid illo quod libero quos
      eaque doloremque reprehenderit, minus nostrum, ad natus non optio
      officiis? Deleniti dolor ab temporibus ad consectetur? Veniam molestiae
      corrupti distinctio a dolore voluptatem?
    </p>
  </section>
</main>

{% endblock %}
