{% extends 'base.html' %}

{% block content %}

<style>
  body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .card-body-custom {
    background-color: #ffffff;
    border-radius: 1rem; /* Aumentar ligeramente la curvatura de los bordes */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Aumentar la suavidad de la sombra */
    padding: 2rem; /* Aumentar el padding para más espacio interior */
    border: 1px solid #dee2e6;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .custom-img {
    border: 1px solid #333333;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  
  .custom-img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }

  .custom-container {
    max-width: 1200px;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
  }

  .titulo{
    text-align: justify;
    margin-bottom: 1rem;
  }

  p {
    text-align: justify;
    font-size: 20px;
  }

  .custom-padding {
    padding: 80px; 
  }


  @media (min-width: 768px) {
    .custom-grid {
      grid-template-columns: 1fr 2fr;
    }
  }

/* Estilos para la sección Tutoriales */

.card-body-custom_tutoriales{
    background-color: #ffffff;
    border-radius: 1rem; /* Aumentar ligeramente la curvatura de los bordes */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Aumentar la suavidad de la sombra */
    padding: 2rem; /* Aumentar el padding para más espacio interior */
    border: 1px solid #dee2e6;
    margin-top: 1 rem;
    margin-bottom: 2.5rem;
}

#tutoriales {
  background-color: #f9f9f9; /* Color de fondo */
  padding: 40px 0; /* Espaciado vertical */
}

.section-title {
  text-align: center; /* Centra el título */
  margin-bottom: 40px; /* Espacio debajo del título */
  font-size: 2 rem; /* Tamaño del texto del título */
  font-weight: bold;
}

.tutorial-list {
  display: flex; /* Usa flexbox para los tutoriales */
  flex-wrap: wrap; /* Permite que los tutoriales se ajusten en múltiples líneas */
  gap: 20px; /* Espacio entre los tutoriales */
  justify-content: center; /* Centra los tutoriales en el contenedor */
}

.tutorial-item {
  display: flex;
  flex-direction: column; /* Alinea el contenido en una columna */
  justify-content: space-between; /* Asegura que el contenido y el botón se distribuyan en el espacio disponible */
  background-color: #dfdfdf; /* Fondo blanco para los tutoriales */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  padding: 20px; /* Espaciado interno */
  width: calc(33.333% - 20px); /* Tres tutoriales por fila con espacio */
  box-sizing: border-box; /* Incluye padding en el ancho total */
  height: 100%; /* Asegura que el elemento ocupe todo el espacio disponible en su contenedor */
  min-height: 300px;
}

.tutorial-title {
  text-align: justify;
  font-size: 1.5em; /* Tamaño del texto del título del tutorial */
  margin-bottom: 1rem; /* Espacio debajo del título */
  color:black;
}

.tutorial-description {
  margin-bottom: 20px; /* Espacio debajo de la descripción */
}

.btn {
  display: inline-block; /* Muestra el botón como un bloque en línea */
  padding: 10px 20px; /* Espaciado interno del botón */
  background-color: #248eff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  text-decoration: none; /* Quita el subrayado */
  text-align: center; /* Centra el texto dentro del botón */
  width: 150px; /* Ancho fijo del botón */
  max-width: 100%; /* Asegura que el botón no se extienda más allá del contenedor */
  box-sizing: border-box; /* Incluye padding en el ancho total */
  align-self: center; /* Centra el botón en su contenedor */
  margin-top: auto; /* Empuja el botón al final del contenedor si es necesario */
}

.btn:hover{
  background-color: #0067d4;
}
</style>

<main>
  <div class="container custom-container mx-auto custom-padding card-body-custom">
    <div class="custom-grid ">
      <div class="w-100 p-4 ">
        <img
          src="https://img-cdn.pixlr.com/image-generator/history/66c48dfd82f83b0d0a23829c/0642e8ad-361d-497f-853a-ea9d4a6aba1c/preview.webp"
          alt="Imagen descriptiva" class="custom-img">
      </div>
      <div>
        <h1 class="titulo">Bienvenido a TechManage: Su Solución Integral para la Gestión de Inventario de Computadoras
        </h1>
        <p class="text">
          TechManage es un sistema centralizado de gestión de inventario de computadoras que facilita el control y la
          planificación de mantenimientos. Nuestro software le proporciona una plataforma integral para monitorizar el
          estado de sus equipos, asegurando que cada computadora esté en óptimas condiciones y lista para su uso.
        </p>
        
      </div>
    </div>
  </div>
</main>

<section id="tutoriales">
  <div class="container custom-container mx-auto custom-padding card-body-custom_tutoriales">
    <h2 class="section-title">TUTORIALES</h2>
    <div class="tutorial-list">

      <div class="tutorial-item">
        <h3 class="tutorial-title">¿Como registrarte?</h3>
        <p class="tutorial-description">Descripción breve del primer tutorial. Aprende sobre...</p>
        <a href="link-al-tutorial-1" class="btn">Ver Tutorial</a>
      </div>

      <div class="tutorial-item">
        <h3 class="tutorial-title">¿Tus primeros pasos para administrar tu inventario de computadores?</h3>
        <p class="tutorial-description">Descripción breve del segundo tutorial. Descubre cómo...</p>
        <a href="link-al-tutorial-2" class="btn">Ver Tutorial</a>
      </div>

      <div class="tutorial-item">
        <h3 class="tutorial-title">Tutorial 3</h3>
        <p class="tutorial-description">Descripción breve del segundo tutorial. Descubre cómo...</p>
        <a href="link-al-tutorial-2" class="btn">Ver Tutorial</a>
      </div>

      <div class="tutorial-item">
        <h3 class="tutorial-title">Tutorial 4</h3>
        <p class="tutorial-description">Descripción breve del segundo tutorial. Descubre cómo...</p>
        <a href="link-al-tutorial-2" class="btn">Ver Tutorial</a>
      </div>

      <div class="tutorial-item">
        <h3 class="tutorial-title">Tutorial 5</h3>
        <p class="tutorial-description">Descripción breve del segundo tutorial. Descubre cómo...</p>
        <a href="link-al-tutorial-2" class="btn">Ver Tutorial</a>
      </div>

      <div class="tutorial-item">
        <h3 class="tutorial-title">Tutorial 6</h3>
        <p class="tutorial-description">Descripción breve del segundo tutorial. Descubre cómo...</p>
        <a href="link-al-tutorial-2" class="btn">Ver Tutorial</a>
      </div>

    </div>
  </div>
</section>


{% endblock %}