{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <section class="col-md-6 col-lg-4 offset-md-3 offset-lg-4 mt-5">
      <div class="card shadow"  style="border-radius: 1rem;">
        <div class="card-body">
          <h1 class="text-center mb-4">Iniciar Sesión</h1>

          <form action="/signin/" method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label for="username" class="form-label">
                <i class="fa-solid fa-user me-2"></i> Usuario
              </label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                placeholder="Usuario"
                required
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">
                <i class="fa-solid fa-lock me-2"></i> Contraseña
              </label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Contraseña"
                required
              />
            </div>

            {% if error %}

            <div class="alert alert-danger" role="alert">
              <div class="text-center mb-2">
                <i class="fa-solid fa-circle-exclamation"></i> {{error}}
              </div>
            </div>

            {% endif %}

            <button class="btn btn-primary w-100 mt-3" type="submit">
              Iniciar Sesión
            </button>
          </form>

          <div class="text-center mt-4">
            <p class="mb-0">¿No tienes una cuenta?</p>
            <a href="{% url 'send_token' %}" class="btn btn-link"
              >Regístrate aquí</a
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
